= simple_form_for @profile do |form|

  = form.input :user_id, :label => 'User ID', :disabled => true

  -if @profile.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@profile.errors.count, "error")} prohibited this #{Profile.name.titleize} from being saved:"
      %ul
        - @profile.errors.full_messages.each do |msg|
          %li= msg  

  = form.input :name, :label => 'Name', :hint => "Your full name, not your username"
  = form.input :bio, :label => 'About you'
  .avatar= @profile.avatar.url(:thumb).present? ? image_tag(@profile.avatar.url(:thumb)) : image_tag("dummy_user.jpg")
  = form.input :avatar, :label => 'Avatar'
  = form.input :phone, :label => 'Phone'
  = form.input :birthday,:as => :date, :start_year => Date.today.year - 50, :end_year => Date.today.year - 18, :order => [:day, :month, :year], :label => 'Birthday'
  = form.input :website, :label => 'Website'
  = form.input :is_client
  - if current_user.admin?
    #admin_fields
      = form.input :is_client, :label => 'Is Client ?'
      = form.association :client, :collection => Client.all(:order => 'name'), :label => 'Client', :prompt => "Choose Client..."
      = form.input :street, :label => 'Street'
      = form.input :zip, :label => 'Zip'
      = form.input :city, :label => 'City'   
      = form.input :job_description, :label => 'Job Description'
      = form.input :in_company_since
      = form.input :freelancer                    
      = form.input :time_mon, :label => 'Mon Hours' 
      = form.input :time_tue, :label => 'Tue Hours' 
      = form.input :time_wed, :label => 'Wed Hours' 
      = form.input :time_thu, :label => 'Thu Hours' 
      = form.input :time_fri, :label => 'Fri Hours' 
                                                  
                                                  
  .actions
    = form.button :submit