= simple_form_for @profile do |form|

  = form.input :user_id, :label => 'User ID', :disabled => true

  -if @profile.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@profile.errors.count, "error")} prohibited this #{Profile.name.titleize} from being saved:"
      %ul
        - @profile.errors.full_messages.each do |msg|
          %li= msg  

  = form.input :first_name, :label => 'First Name'
  = form.input :last_name, :label => 'Last Name'
  = form.input :street, :label => 'Street'
  = form.input :zip, :label => 'Zip'
  = form.input :city, :label => 'City'
  = form.input :bio, :label => 'Bio'
  = form.input :avatar, :label => 'Avatar'
  = form.input :phone, :label => 'Phone'

  .actions
    = form.button :submit