%h1 Listing Users

.content_window.fullsize
  .headline
    .searchform
      = text_field_tag "searchform", "search users...", :class => "table_search", :onfocus => 'this.select();'
    %br.clear
  .inner
    %table.pretty
      %tr
        %th Username
        %th Full name
        %th E-Mail
        %th Job description
        %th
        %th
      
    
      - @profiles.each do |profile|
        %tr
          %td= profile.user.username
          %td= profile.full_name
          %td= profile.user.email
          %td= profile.job_description
          %td= link_to 'Show', profile
          %td
            -if can? :update, profile
              = link_to 'Edit', edit_profile_path(profile) 
    
%br

/= link_to 'New Profile', new_profile_path, :class => 'new_object_link'
