%h1 Listing profiles

%table
  %tr
    %th Username
    %th Full name
    %th Street
    %th Zip
    %th City
    %th Birthday
    %th job_description
    %th Phone
    %th
    %th
    %th

  - @profiles.each do |profile|
    %tr
      %td= profile.user.username
      %td= profile.full_name
      %td= profile.street
      %td= profile.zip
      %td= profile.city
      %td= profile.birthday
      %td= profile.job_description
      %td= profile.phone
      %td= link_to 'Show', profile
      %td= link_to 'Edit', edit_profile_path(profile)
      %td= link_to 'Destroy', profile, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Profile', new_profile_path
