-present @user do |user_presenter|

	#headline= "Contact"

	#user.content_window
		.header= link_to "Contact Details", "javascript:void(0)", :class => 'open', :title => "open / close"
  	
		.inner
	
			.avatar= user_presenter.avatar
			.main_text= "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."




= link_to 'Edit', edit_profile_path(@profile)
\|
= link_to 'Back', profiles_path
