-present @user do |user_presenter|

	#headline= "Contact"

	#user.content_window
		.header= link_to "Contact Details: #{user_presenter.username}", "javascript:void(0)", :class => 'open', :title => "open / close"
  	
		.inner
	
			.avatar= user_presenter.avatar
			.main_text
				%i=user_presenter.bio
			
			%dl 
				%dt= "Full Name"
				%dd= user_presenter.full_name
				%dt= "Member Since:"
				%dd= user_presenter.member_since
				%dt= "Job Description:"
				%dd= user_presenter.job_description
				%dt= "Adress"
				%dd= user_presenter.adress
				%dt= "birthday"
				%dd= user_presenter.birthday
				%dt= "E-Mail"
				%dd= user_presenter.email
				%dt= "Phone"
				%dd= user_presenter.phone
				%dt= "Website"
				%dd= user_presenter.website


		.edit_links
			= link_to 'Edit', edit_profile_path(@profile)
			\|
			= link_to 'Back', profiles_path
