= simple_form_for @hour do |form|

  -if @hour.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@hour.errors.count, "error")} prohibited this #{Hour.name.titleize} from being saved:"
      %ul
        - @hour.errors.full_messages.each do |msg|
          %li= msg  

  = form.input :date, :label => 'Date'
  = form.input :amount, :label => 'Amount'
  = form.input :extra, :label => 'Extra'
  = form.input :holiday, :label => 'Holiday'
  = form.input :ill, :label => 'Ill'
  = form.input :project_id, :label => 'Project'
  = form.input :user_id, :label => 'User'
  = form.input :task_id, :label => 'Task'

  .actions
    = form.button :submit