= simple_form_for [Hour.new], :remote => true do |f|
  = f.hidden_field :user_id, :value => current_user.id
  = f.input :date, :as => :string, :value => Date.today.strftime("%Y-%m-%d")
  = f.input :amount, :label => "Hours"
  = f.input :description, :rows => 5, :cols => 20, :onfocus => 'this.select()'
  = f.input :extra
  = f.input :holiday
  = f.input :ill
  = f.hidden_field :project_id, :id => "real_project_id"
  .input.text.required
    %label.string.optional Project
    %br
    = autocomplete_field_tag 'fake_project', '', autocomplete_project_name_hours_path, :update_elements => {:id => '#real_project_id'}, :class => "required"
    %span.hint Type Nr. or Name, will autocomplete
  = #f.input :project_name, data: {autocomplete_source: "/projects.json" }, :label => "Project", :hint => "Type Nr. or Name, will autocomplete"
  = f.association :work_category, :label => "Category"
  %br.clear
  = f.button :submit, :as => :image, :src => "images/accept.png"
