- hour ||= Hour.new
= simple_form_for hour, :remote => hour.new_record? do |f|
  = f.hidden_field :user_id, :value => current_user.id
  = f.input :date, :as => :string, :value =>  Date.today.strftime("%Y-%m-%d")
  = f.input :amount, :label => "Hours"
  = f.input :description, :rows => 5, :cols => 20, :onfocus => 'this.select()'
  = f.input :extra, :label_html => { :class => 'extra' }
  = f.input :holiday, :label_html => { :class => 'holiday' }
  = f.input :ill, :label_html => { :class => 'ill' }
  = f.hidden_field :project_id, :id => "real_project_id"
  .input.text.required
    %label.string.optional Project
    %br
    = autocomplete_field_tag 'fake_project', '', autocomplete_project_name_hours_path, :update_elements => {:id => '#real_project_id'}, :class => "required"
    %span.hint Type Nr. or Name, will autocomplete
  = f.association :work_category, :label => "Category"
  %br.clear
  -if hour.new_record?
    = f.button :submit, :as => :image, :src => "images/accept.png"
  -else
    = f.button :submit, :label => 'update'
    = link_to "delete record", hour, :confirm => 'Are you sure?', :method => :delete

