%h1 Listing hours

#calendar_stats
  -if current_user.admin? || current_user.controller?
    .username
      Show User:
    .user_selection
      =collection_select(:hour, :user_id, User.order("username"), :id, :username, {:prompt => "select user", :selected => session[:hour_user_id] })



#scrolldiv
  #timetracking.content_window.fullsize
    .headline
      .month
        = link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d")
        =h @date.strftime("%B %Y")
        = link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d")
      .searchform
        = text_field_tag "searchform", "search hours...", :class => "table_search", :onfocus => 'this.select();'
      %br.clear
    .inner
      #calendar
        = calendar_for @hours, :year => @date.year, :month => @date.month, :first_day_of_week => 1 do |calendar| 
          = calendar.head('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
          = calendar.day(:day_method => :date) do |date, hours|
            .wrapper_div
              .hour
                -if hours
                  %ul.stunden{:style => "bottom: #{Hour.number_of_entries(current_user, date)}px;"}
                    = content_tag :li, '', :class => 'spacer', :style => "height: #{ 100 - Hour.total_percent_day(current_user, date) }%"
                    -for hour in hours
                      = hour_tag(hour)
              .calendar_day
                = date.day
                = tag("div", :class => "calendar_date", :data => { :date => date.to_s })


      #hours_overview
        %table.pretty
          %tr
            %th
              Monat
            %th
              Stunden
            %th
              Überstunden
            %th
              Urlaubstage
            %th
              Kranktage
          - summe_stunden = 0
          - summe_ueberstunden = 0
          - summe_urlaub = 0
          - summe_krank = 0
          - i = 1
          - while i >= 0 do 
            %tr
              %td.left
                - d = @date << i
                - month = d.month
                - year = d.year
                = d.strftime('%B')
              %td
                = @user.monthly_hours(year, month)
                - summe_stunden += @user.monthly_hours(year, month)
              %td
                = @user.extra_hours(year, month)
                - summe_ueberstunden += @user.extra_hours(year, month)
              %td
                = @user.monthly_holidays(year, month)
                - summe_urlaub += @user.monthly_holidays(year, month)
              %td
                = @user.monthly_illdays(year, month)
                - summe_krank += @user.monthly_illdays(year, month)
                - i -= 1
          %tr
            %td.left
              %b
                Summe
            %td
              %b
                = summe_stunden
            %td
              %b
                = summe_ueberstunden
            %td
              %b
                = summe_urlaub
            %td
              %b
                = summe_krank  
        
      #sidepanel
        .overview
  
        .ajax_form= render 'hour_form_fields', :hour => nil
  


%br
