%h1 Listing hours

#calendar_stats
  -if current_user.admin? || current_user.project_manager?
    .username
      Show User:
    .user_selection
      =collection_select(:hour, :user_id, User.order("username"), :id, :username, {:prompt => "select user", :selected => session[:hour_user_id] })



#scrolldiv
  #timetracking.content_window.fullsize
    .headline
      .month
        = link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d")
        =h @date.strftime("%B %Y")
        = link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d")
        .month_select= date_select("month", "date", :start_year => Time.now.year-1, :end_year => Time.now.year+1, :discard_day => true, :default => @date) 
      .searchform
        = text_field_tag "searchform", "search hours...", :class => "table_search", :onfocus => 'this.select();'
      .view_mode=link_to "list view", :view_mode => "list", :month => @date
      %br.clear
    .inner
      #calendar
        = calendar_for @hours, :year => @date.year, :month => @date.month, :first_day_of_week => 1 do |calendar| 
          = calendar.head('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
          = calendar.day(:day_method => :date) do |date, hours|
            .wrapper_div
              .hour
                -if true
                  %ul.stunden{:style => "bottom: #{Hour.number_of_entries(@user, date)}px;"}
                    = content_tag :li, '', :class => 'spacer', :style => "height: #{ 100 - Hour.total_percent_day(@user, date) }%"
                    -for hour in hours
                      = hour_tag(hour)
              .calendar_day
                = date.day
                = tag("div", :class => "calendar_date", :data => { :date => date.to_s })
            .daily_hours
              = "#{ @user.daily_hours(date) }h" if @user.daily_hours(date) > 0


      #hours_overview
        %table.pretty
          %thead
            %tr
              %th
                Monat
              %th
                Stunden
              %th
                Überstunden
              %th
                Comp Time (h)
              %th
                Urlaubstage
              %th
                Kranktage
          - summe_stunden = 0
          - summe_ueberstunden = 0
          - summe_urlaub = 0
          - summe_krank = 0
          - summe_comp = 0
          - stunden2011, krank2011, urlaub2011, ueberstunden2011, comp2011 = 0
          - i = 0
          - d = Date.new(2011, 1 , 1)
          - while d <= Date.today do 
            -if d == Date.new(2012,1,1)
              %tr.summe_2011
                %td.left
                  %b
                    Summe 2011
                %td
                  %b
                    - stunden2011 = summe_stunden
                    = stunden2011
                    - summe_stunden = 0
                %td
                  %b
                    - ueberstunden2011 = summe_ueberstunden
                    = ueberstunden2011
                    - summe_ueberstunden = 0
                %td
                  %b
                    - comp2011 = summe_comp
                    = comp2011
                    - summe_comp = 0
                %td
                  %b
                    - urlaub2011 = summe_urlaub
                    = urlaub2011
                    - summe_urlaub = 0
                %td
                  %b
                    - krank2011 = summe_krank
                    = krank2011
                    - summe_krank = 0
            %tr
              %td.left
                - month = d.month
                - year = d.year
                = d.strftime('%B')
              %td
                = @user.monthly_hours(year, month)
                - summe_stunden += @user.monthly_hours(year, month)
              %td
                = @user.extra_hours(year, month)
                - summe_ueberstunden += @user.extra_hours(year, month)
              %td
                - comp_time = @user.comp_time(year, month)
                = comp_time
                - summe_comp += comp_time
              %td
                = @user.monthly_holidays(year, month)
                - summe_urlaub += @user.monthly_holidays(year, month)
              %td
                = @user.monthly_illdays(year, month)
                - summe_krank += @user.monthly_illdays(year, month)
                - d = d >> 1
 							
          %tr.summe_2011
            %td.left
              %b
                Summe 2012
            %td
              %b
                = summe_stunden
            %td
              %b
                = summe_ueberstunden
            %td
              %b
                = summe_comp
            %td
              %b
                = summe_urlaub
            %td
              %b
                = summe_krank  
          %tr.summe_2011
            %td.left
              %b
                Summe gesamt
            %td
              %b
                = summe_stunden + stunden2011
            %td
              %b
                = summe_ueberstunden + ueberstunden2011
            %td
              %b
                = summe_comp + comp2011
            %td
              %b
                = summe_urlaub + urlaub2011
            %td
              %b
                = summe_krank + krank2011
                    
      #sidepanel
        .overview
  
        .ajax_form= render 'hour_form_fields', :hour => nil
  


%br
