-present @user do |user_presenter|

#headline= "Contact"

#user.content_window
	.header= link_to "Contact Details", "javascript:void(0)", :class => 'open', :title => "open / close"
  	
	.inner
	
		.avatar= user_presenter.avatar_big
		.main_text= user_presenter.userinfo
		
		.dl
			.dt= "Username"
			.dd= user_presenter.username
			.dt= "Member Since:"
			.dd= user_presenter.member_since
			.dt= "Full Name"
			.dd= user_presenter.full_name
			.dt= "Adress"
			.dd= user_presenter.adress
			.dt= "birthday"
			.dd= user_presenter.birthday
			.dt= "Phone"
			.dd= user_presenter.phone
			.dt= "Website"
			.dd= user_presenter.website


