= simple_form_for @client do |form|

  -if @client.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@client.errors.count, "error")} prohibited this #{Client.name.titleize} from being saved:"
      %ul
        - @client.errors.full_messages.each do |msg|
          %li= msg  

  = form.input :name, :label => 'Name'
  = form.input :full_name, :label => 'Full Name'
  = form.input :website, :label => 'Website'
  = form.input :rg_adress, :label => 'Invoicing Adress'
  = form.input :billing_code, :label => 'Billing Code', :input_html => {:size => 5}
  = form.input :payment_within, :label => 'Payment Within',  :input_html => {:size => 5}

  .actions
    = form.button :submit