%h1 Clients

#scrolldiv
  .content_window.fullsize
    .headline
      .searchform
        = form_tag clients_path, :method => :get
        %p
          = text_field_tag :search, params[:search], :class => "table_search", :onfocus => 'this.select();'
          = submit_tag "Search", :name => nil
      %br.clear
    .inner
      %table.pretty
        %tr
          %th= sortable "name"
          %th Full name
          %th Website
          %th
          %th
          %th
				
        - @clients.each do |client|
          %tr
            %td= link_to client.name, client, :class => "blue"
            %td= client.full_name
            %td= !client.website.nil? ? "#{link_to client.website, client.website}".html_safe : "--"
            %td= link_to image_tag('zoom_in.png'), client, :title => 'details'
            %td= link_to image_tag('edit.png'), edit_client_path(client), :title => 'edit'
            %td= link_to image_tag('delete.png'), client, :title => 'delete', :confirm => 'Are you sure?', :method => :delete
           
        %br

    .paginator= paginate @clients
  					
    .edit_links
      = link_to 'New Client', new_client_path, :class => 'new_object_link'
  
%br

