%p
  %b Name:
  = @client.name
%p
  %b Full name:
  = @client.full_name
%p
  %b Client nr:
  = @client.client_nr
%p
  %b Website:
  = @client.website

= link_to 'Edit', edit_client_path(@client)
\|
= link_to 'Back', clients_path
