%h1= "#{current_user.username.capitalize}'s Dashboard"

#scrolldiv
	#blog.content_window
		.header= link_to "Blog", "javascript:void(0)", :class => 'open', :title => "open / close"
		.searchform
			%p
				= text_field_tag :search, params[:search], :class => "table_search", :onfocus => 'this.select();'
				= submit_tag "Search", :name => nil
	  	
		.inner
		
			#post_form= render 'post_form_fields'
			
			#postlist.page= render @posts
			
		#load_more
			#load_more_image= image_tag('loading.png')
			.button= content_tag :button, "load more results", :id => 'more_results'
		
		
	#infobox.content_window.smallsize
		.header= link_to "My Next Deadlines", "javascript:void(0)", :class => 'open', :title => "open / close"
  
		.inner
  
			%p
				-@next_deadlines.each do |dl|
					= content_tag(:div, "#{dl.deadline.strftime('%d. %b')}: #{link_to dl.name_number, dl}".html_safe, :class => 'deadline')		
  
	#infobox.content_window.smallsize
		.header= link_to "My Upcoming Projects", "javascript:void(0)", :class => 'open', :title => "open / close"
  
		.inner
  
			%p
				-@upcoming_projects.each do |dl|
					= content_tag(:div, "#{dl.deadline.strftime('%d. %b')}: #{link_to dl.name_number, dl}".html_safe, :class => 'deadline')


	#infobox.content_window.smallsize
		.header= link_to "My Continuous Tasks", "javascript:void(0)", :class => 'open', :title => "open / close"
  
		.inner
  
			%p
				-@continous_projects.each do |dl|
					= content_tag(:div, "#{link_to dl.name_number, dl}".html_safe, :class => 'deadline')
  
	#infobox.content_window.smallsize
		.header= link_to "Absences", "javascript:void(0)", :class => 'open', :title => "open / close"
  	
		.inner
  	
			%p
				-@ill_peeps.each do |ill|
					= content_tag(:div, "#{link_to ill.user.profile.name, ill.user.profile} (krank)".html_safe)
			%p
				-@comp_time_peeps.each do |hd|
					= content_tag(:div, "#{link_to hd.user.profile.name, hd.user.profile} (fza)".html_safe)
			%p
				-@holiday_peeps.each do |hd|
					= content_tag(:div, "#{link_to hd.user.profile.name, hd.user.profile} (urlaub)".html_safe)
			%p
				= link_to "Abwesenheits Tabelle", "https://docs.google.com/spreadsheet/ccc?key=0AkVX23buH-ItdGQ4bmgxSkpuUFpaaHpfX0l0ek5WNHc#gid=0"
  	  
 
	#infobox.content_window.smallsize
		.header= link_to "Next Birthdays", "javascript:void(0)", :class => 'open', :title => "open / close"
  
		.inner
  
			%p
				-@next_birthdays.each do |bd|
					= content_tag(:div, "#{bd.name} - #{bd.birthday.strftime('%d. %b')} (#{bd.birthday_age})", :class => 'birthday')
	

		

	