%h1= "Home"

#scrolldiv
	#blog.content_window
		.header= link_to "Blog", "javascript:void(0)", :class => 'open', :title => "open / close"
		.searchform
			%p
				= text_field_tag :search, params[:search], :class => "table_search", :onfocus => 'this.select();'
				= submit_tag "Search", :name => nil
	  	
		.inner
		
			#post_form= render 'post_form_fields'
			
			#postlist.page= render @posts
			
		#load_more
			#load_more_image= image_tag('loading.png')
			.button= content_tag :button, "load more results", :id => 'more_results'
		
		
		
	#infobox.content_window.smallsize
		.header= link_to "Info", "javascript:void(0)", :class => 'open', :title => "open / close"
	
		.inner
		
			%p
				This is an alpha version. Feel free to test it and play around and 
				=link_to "report bugs", new_bug_path
		    	
				