<div class="jc_coords">
<%= simple_form_for [@commentable, JcComment.new] do |f| %>
	<%= f.hidden_field :x1 %>
	<%= f.hidden_field :x2 %>
	<%= f.hidden_field :y1 %>
	<%= f.hidden_field :y2 %>
	<%= f.hidden_field :h %>
	<%= f.hidden_field :w %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<%= f.hidden_field :commentable_id, :value => image_id %>
	<%= f.hidden_field :commentable_type, :value => 'ReviewImage' %>
	<%= f.input :content, :rows => 5,  :value => 'add feedback...', :onfocus => 'this.select()'  %>
	<%= f.submit "send", :class => 'btn btn-success' %>
<% end %>
</div>