%h1 Listing review_images

%table
  %tr
    %th Review
    %th Name
    %th Project
    %th
    %th
    %th

  - @review_images.each do |review_image|
    %tr
      %td= review_image.review_id
      %td= review_image.name
      %td= review_image.project_id
      %td= link_to 'Show', review_image
      %td= link_to 'Edit', edit_review_image_path(review_image)
      %td= link_to 'Destroy', review_image, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Review image', new_project_review_image_path
