%table.pretty
  %tr
    %th= sortable "nr"
    %th= sortable "name"
    %th= sortable "client"
    %th Description
    %th= sortable "status"
    %th
    %th
    %th
  
  - @projects.each do |project|
    %tr
      %td= link_to project.nr, project, :class => "blue"
      %td= link_to project.name, project, :class => "blue"
      %td= link_to project.client.name, project.client, :class => 'blue'
      %td= markdown(project.description)[0..29] + "..."
      %td= project.project_status.name
      %td= link_to image_tag('zoom_in.png'), project, :title => 'details'
      %td= link_to image_tag('edit.png'), edit_project_path(project), :title => 'edit'
      %td= link_to image_tag('delete.png'), project, :title => 'delete', :confirm => 'Are you sure?', :method => :delete