<%= tinymce_assets %>
<div id="scrolldiv">
<%= simple_nested_form_for @project do |form| %>

  <% if @project.errors.any? %>
    <div id="errorExplanation">
      <h2><%="#{pluralize(@project.errors.count, "error")} prohibited this #{Project.name.titleize} from being saved:"%></h2>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg  %></li>
         <% end %>
      </ul>
  <% end %>

  <%= form.input :nr, :label => 'Nr' %>
  <%= form.input :name, :label => 'Name' %>
  <%= form.association :client, :collection => Client.all(:order => 'name'), :prompt => "Choose a Client" %>
  <%= form.association :project_status, :collection => ProjectStatus.all(:order => 'id'), :prompt => false %>
  <%= form.input :description, :label => 'Description',  :input_html => {:class => "tinymce", :rows => 40, :cols => 40, 
:value =>  @project.new_record? ? "<p>e: / i: / a:</p><p style=\"text-align: left;\">(+ 1 free close-up?)</p><hr /><p>(Short project description?)</p>	<p>(Update of 000?)</p>	<hr /><ol><li>Offer no:</li><li>Billing Address:</li>	<li>Invoice no:</li></ol>".html_safe : ""} %>
  <%= form.input :web, :label => 'Web Project?', :hint => 'project not relevant for 3D artists' %>
  <%= form.input :locked, :label => 'Lock Project', :hint => 'Hours cannot be changed anymore - no new bookings on this project' %>
	<%= form.input :profile_tokens, :label => 'Involved People',  :input_html => { :data => { :pre => @project.profiles.map(&:attributes).to_json }} %>
	<br class="clear"/>
  <div class="task_fields">
		<h4>Tasks</h4>
    <%= form.fields_for :tasks do |task_form| %>
      <%= task_form.input :name %>
      <%= task_form.input :description  %>
      <%= task_form.input :plan_hours %>
      <%= task_form.input :deadline %>
      <%= task_form.link_to_remove "Remove this task" %>
     <% end %>
		<p><%= form.link_to_add "Add a task", :tasks %></p>
  </div>
  <div class="actions">
    <%= form.button :submit %>
  </div>
<% end %>
</div>
<%= tinymce %>