%h1 Projects

#scrolldiv
  .content_window.fullsize
    .headline
      .searchform
        = form_tag projects_path, :method => :get, :id => 'projects_search'
        %p
          = text_field_tag :search, params[:search], :class => "table_search", :onfocus => 'this.select();'
          = submit_tag "Search", :name => nil
      %br.clear
    .inner
      #projects= render :partial => '_projects'


      .paginator= paginate @projects
  					
    .edit_links
      = link_to 'New Project', new_project_path, :class => 'new_object_link'
  
%br

