-present @project do |project_presenter|

	%h1.project_h1
		%span.projectnr= project_presenter.project_nr
		%span.clientname= link_to project_presenter.client, @project.client
		%span.projectname= project_presenter.title
		%span.locked= image_tag('locked-icon.png', :width => 50, :title => 'Project is locked.') if @project.locked?

	#scrolldiv
		#project.content_window.fullsize
			.header= link_to "Project Overview", "javascript:void(0)", :class => 'open', :title => "open / close"
  		
			.inner
				.column
					.subtitle Description
					.subcontent
						.description= project_presenter.description.html_safe
  	
				
				.column.middle_col
					.subtitle Involved People
					.subcontent
						.description= project_presenter.people
					%br
					%br
					.subtitle Status
					.subcontent
						.description= project_presenter.status
					%br
					%br
					.subtitle Deadline
					.subcontent
						.description= @project.deadline.strftime('%d.%m.%y')
				
				.column.tasks_col
					.subtitle Tasks
					.subcontent
						.tasks= project_presenter.tasks
				
				%br.clear
				.edit_links
					-if can? :update, @project
						= link_to 'Edit', edit_project_path(@project)
						\|
					= link_to 'Back', projects_path			
				
					
		#project_statistics.content_window.fullsize
			.header= link_to "Project Details", "javascript:void(0)", :class => 'open', :title => "open / close"
		
			.inner
				.column
					.hour_details= project_presenter.hour_details
		
				%br.clear
		        



    	
    	

