-present @project do |project_presenter|

	%h1.project_h1
		%span.projectnr= project_presenter.project_nr
		%span.clientname= project_presenter.client
		%span.projectname= project_presenter.title

	#project.content_window.fullsize
		.header= link_to "Project Details", "javascript:void(0)", :class => 'open', :title => "open / close"
  	
		.inner
			.column
				.subtitle Description
				.subcontent
					.description= project_presenter.description
			
			.column
				.subtitle Involved People
				.subcontent
					.description= project_presenter.description
			
			.column
				.subtitle Tasks
				.subcontent
					.tasks= project_presenter.tasks
			
			%br.clear
	        


		.edit_links
			-if can? :update, @project
				= link_to 'Edit', edit_project_path(@project)
				\|
			= link_to 'Back', projects_path



