%h1= "Bug ##{@bug.id}: #{@bug.title}"

.content_window
  .post_single_view= render @bug
  .comments
    - if @bug.comments.size > 0
      = render @bug.comments.order('created_at desc')

    .leave_comment= render 'bug_comment_fields',  :bug_id => @bug.id
  %br

%br



%br.clear
.edit_links
  = link_to "show all bugs", bugs_path
  -if can? :update, @bug
    =link_to "edit", edit_bug_path(@bug)
  -if can? :destroy, @bug
    =link_to "delete", @bug, :confirm => 'Delete this bug?', :method => :delete
