.blogpost{:id => 'post_' + post.id.to_s }
	.author
		#avatar= post.user.profile.avatar.url.present? ? image_tag(post.user.profile.avatar.url(:thumb)) : image_tag("dummy_user.jpg") 
		.userinfo
			%span.username= post.user.username
			%br
			%span.time= post.created_at.strftime('%e %b %y')
			%br
			%span.time= post.created_at.strftime('%H:%M')
		
		.post
			.title
				%span.category{ :class => post.post_category.name }= post.post_category.name
				%span.name= post.title

			.text= markdown(post.body)
			

.comments
	- if post.comments.size > 0
		= render post.comments.order('created_at desc')

	.leave_comment= render 'post_comment_fields',  :post_id => post.id