%ul
  %li{:class => current_page?(:controller => 'home', :action => 'index') ? 'active' : ''}
    %span.title= link_to_unless_current("Dashboard", { :controller => 'home', :action => "index" })
    %br/
    %span.sub_info#newpostscount

  %li{:class => current_page?(:controller => 'projects', :action => 'index') ? 'active' : ''}
    %span.title= link_to_unless_current("Projects", { :controller => 'projects', :action => "index" })
    %br/
    %span.sub_info


  -if current_user.admin || current_user.project_manager?
    %li{:class => current_page?(:controller => 'monitoring', :action => 'index') ? 'active' : ''}
      %span.title= link_to_unless_current("Monitoring", { :controller => 'monitoring', :action => "index" })

    %li{:class => current_page?(:controller => 'monitoring', :action => 'controlling') ? 'active' : ''}
      %span.title= link_to_unless_current("Controlling", { :controller => 'monitoring', :action => "controlling" })

    %li{:class => current_page?(:controller => 'clients', :action => 'index') ? 'active' : ''}
      %span.title= link_to_unless_current("Clients", { :controller => 'clients', :action => "index" })
      %br/
      %span.sub_info

  %li{:class => current_page?(:controller => 'hours', :action => 'index') ? 'active' : ''}
    %span.title= link_to_unless_current("Timetracking", { :controller => 'hours', :action => "index" })
    %br/
    %span.sub_info= "#{current_user.daily_hours} hrs today"
    
  %li{:class => current_page?(:controller => 'profiles', :action => 'index') ? 'active' : ''}
    %span.title= link_to_unless_current("Contacts", { :controller => 'profiles', :action => "index" })
    %br/
	
  %li
    %span.title= link_to "Wiki", "http://217.92.114.5:8080/wiki/doku.php"
    %br/
    %span.sub_info



-# #bug_report
-#  = link_to image_tag("bug2.png"), bugs_path, :title => "report a bug"

