%ul
  %li{:class => current_page?(:controller => 'home', :action => 'index') ? 'active' : ''}
    %span.title= link_to_unless_current("Home / Blog", { :controller => 'home', :action => "index" })
    %br/
    %span.sub_info
    2 new posts
  %li{:class => current_page?(:controller => 'projects', :action => 'index') ? 'active' : ''}
    %span.title= link_to_unless_current("Projects", { :controller => 'projects', :action => "index" })
    %br/
    %span.sub_info

  %li{:class => current_page?(:controller => 'hours', :action => 'index') ? 'active' : ''}
    %span.title= link_to_unless_current("Timetracking", { :controller => 'hours', :action => "index" }) 
    %br/
    %span.sub_info
      = "<span id='mydailyhours'>#{current_user.hours_today}</span> hours today".html_safe
  %li{:class => current_page?(:controller => 'profiles', :action => 'index') ? 'active' : ''}
    %span.title= link_to_unless_current("Contacts", { :controller => 'profiles', :action => "index" })
    %br/
    %span.sub_info

#bug_report
  = link_to image_tag("bug2.png"), new_bug_path, :title => "report a bug"
